# Application Settings
BASE_URL=https://shopist.io
TEST_ENV=dev

# Credentials 
DEFAULT_USER=your-email@example.com
DEFAULT_PASS=your_password_here

# Backend API Configuration
API_BASE=https://shopist.io/api